<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/home.css' rel='stylesheet'>

</head>

<body>
    <div class="sidebar">
        <div class="user-avatar">
            <img src="../../../assets/images/logo.png" alt="">
            <p>PET SHOP</p>

        </div>
        <ul>
            <li><a routerLink="product">List Product</a></li>
            <li><a href="#">List Category</a></li>
            <li><a routerLink="user">List User</a></li>
            <li><a href="">Back Home </a></li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</body>

</html>