<div class="container">
    <p class="add-category">List Category</p>
    <div class="search-container">
        <input type="text" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="searchTerm">
        <button type="submit" (click)="search()">Tìm kiếm</button>


    </div>
    <hr>
    <a href="admin/category/add" class="btn btn-success">Add Category</a>

    <table class="table-border table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody *ngIf="categories && categories.length">
            <tr *ngFor="let item of categories; index as i">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>
                    <button class="btn btn-outline-danger" (click)="removeItem(item._id)">Xóa</button>
                    <a href="admin/category/{{item._id}}/edit" class="btn btn-outline-warning mt">Sửa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>