.search-container {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  p.add-product {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  p.add-product:hover {
    background-color: #ddd;
  }

  /* Navbar */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #fff;
  font-family: monospace;
  font-weight: bold;
}

.navbar-brand img {
  border-radius: 50%;
  width: 20%;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
}

.user-info img.avatar {
  width: 100px;
}

.user-info p.user-name {
  color: #fff;
}

.user-info a {
  color: #fff;
  text-decoration: none;
}

.user-info button.btn-danger {
  margin-left: 10px;
}

/* Login Button */
button.login-button {
  background-color: transparent;
  border: none;
}

button.login-button a {
  color: #fff;
  text-decoration: none;
}

button.login-button a.tt {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #6c757d;
  transition: background-color 0.3s ease;
}

button.login-button a.tt:hover {
  background-color: #5a6268;
}

/* Footer */
footer {
  background-color: #343a40;
  padding: 1rem 0;
}

footer p {
  margin: 0;
  color: #fff;
  text-align: center;
}


  