<div class="container">
    <p class="add-product">List Product</p>
    <div class="search-container">
         <input type="text" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="searchTerm" >
        <button type="submit" (click)="search()">Tìm kiếm</button> 

        
    </div>
    <hr>
    <a href="admin/product/add" class="btn btn-success">Add Product</a>

    <table class="table-border table">
        <thead>
            <tr>
                <th>STT</th>
                <th>name</th>
                <th>price</th>
                <th>Images</th>
                <th>desc</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody  *ngIf="products && products.length">
            <tr *ngFor="let item of products; index as i">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td >{{item.price}}</td>
                <td width="50" >
                    <img width="50" [src]="item.img" />
                </td>                
                <td>{{item.desc}}</td>
                
                <td>
                    <button class="btn btn-outline-danger" (click)="removeItem(item._id)">Xóa</button>
                    <a href="admin/product/{{item._id}}/edit" class="btn btn-outline-warning mt">Sửa</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>