<div class="container">
  <img class="shop-logo" src="../../../assets/images/dog.png" alt="Pet Shop Logo">
  <h1 class="t">Pet Shop </h1>
  <p class="tt">
    Chào mừng bạn đến với Pet Shop! . Chúng tôi là cửa hàng thú cưng tận tâm và đáng tin cậy, cam kết mang lại sự hài lòng cho bạn và thành viên nhỏ của gia đình.
  </p>
  <p class="tt1">
    Tại Pet Shop, chúng tôi cung cấp một loạt các sản phẩm và dịch vụ cho các loại thú cưng, bao gồm thức ăn chất lượng cao, đồ chơi, phụ kiện, và các dịch vụ chăm sóc thú cưng chuyên nghiệp. Chúng tôi hiểu rằng thú cưng của bạn là thành viên quan trọng trong gia đình và chúng tôi luôn sẵn sàng đáp ứng mọi nhu cầu của chúng.
  </p>
  <p class="tt2">
    Đặc biệt, tại Pet Shop, chúng tôi cũng cung cấp dịch vụ tư vấn và huấn luyện thú cưng. Chúng tôi hiểu rằng việc huấn luyện và giáo dục là quan trọng để xây dựng một mối quan hệ tốt đẹp và hạnh phúc với thú cưng của bạn. Đội ngũ chuyên gia của chúng tôi sẽ hướng dẫn bạn các kỹ thuật và phương pháp huấn luyện hiệu quả.
  
  </p>
  <p class="tt3">
    Hãy đến Pet Shop để khám phá và trải nghiệm một cửa hàng thú cưng chất lượng cao. Chúng tôi cam kết mang đến sự hài lòng và niềm vui cho bạn và thú cưng của bạn. Đừng ngần ngại liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi hoặc cần tư vấn. Chúng tôi luôn sẵn lòng giúp đỡ.
  
  </p>
  <div class="contact-info">
    <p>
      <strong>Địa chỉ:</strong> 123 Đường Pet, Thành phố ABC
    </p>
    <p>
      <strong>Điện thoại:</strong> 0123456789
    </p>
    <p>
      <strong>Email:</strong> info@petshopxyz.com
    </p>
    <p>
      <strong>Website:</strong> <a href="https://www.petshopxyz.com">www.petshopxyz.com</a>
    </p>
  </div>

