
<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="../../../assets/images/slider-img.png"
                class="" alt="">
                
        </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <h2><span class="login-text">Sign</span> In</h2>
                <p class="text-muted mb-2">Share your thouhts with the world form today.</p>
                <div class="d-flex flex-column ">
                    <p class="text-muted mb-2">Continue with...</p>
                    <div class="d-flex align-items-center">

                        <form [formGroup]="formSignin" (ngSubmit)="onHandleSubmit()">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" placeholder="Email" formControlName="email"   class="form-control"/>
                            </div>
                            <div
                              *ngIf="
                                formSignin.get('email')?.hasError('required') &&
                                (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
                              "
                            >
                              <p class="tt">Email là bắt buộc</p>
                            </div>
                            <div
                              *ngIf="
                                formSignin.get('email')?.hasError('email') &&
                                (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
                              "
                            >
                              <p class="tt">Email không đúng định dạng</p>
                            </div>
                          
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" placeholder="Password" formControlName="password"  class="form-control"/>
                            </div>
                            <div
                              *ngIf="
                                formSignin.get('password')?.hasError('required') &&
                                (formSignin.get('password')?.touched || formSignin.get('email')?.dirty)
                              "
                            ></div>
                            <div *ngIf="incorrectPassword">
                              <p class="tt">Sai mật khẩu</p>
                            </div>
                            <button type="submit" class="btn btn-outline-success custom-button">Đăng Nhập</button>
                        </form>

                    </div>
                    
                </div>
            </div>

            <div class="mt-3">
                <p class="mb-0 text-muted">
                    <a routerLink="../signup">Do you have an account?</a>
                </p>
               
            </div>


            <div class="mt-auto">
                <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                    <span class="p-color me-1">terms and conditions</span>and
                    <span class="p-color ms-1">privacy policy</span>
                </p>
            </div>
        </div>
        <span class="fas fa-times"></span>
    </div>
</div>

